/* 
    Document   : calendar
    Created on : 2015-06-12, 20:49:03
    Author     : wojtekb
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.glyphicon-chevron-right
{
    float : right;
    
}
.glyphicon-chevron-left
{
    float : left;
    
}
.text-center
{
    font-family: Verdana; font-size: 12pt; color: black; 
    
    
}
.outOfMonth
{
    color: gray;
    
}

.inMonth
{
    color: black;
    
}

.glyphicon-chevron-right:hover{
color:blue;
}
.glyphicon-chevron-left:hover{

color:blue;
}



.wrapper{
  position:relative; 
  left:-50%;
}

.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: black;
  
  -webkit-transform:rotate(-20deg);
  -moz-transform:rotate(-20deg);
  -ms-transform:rotate(-20deg);
  -o-transform:rotate(-20deg);
  transform:rotate(-20deg);
  
}
.ui-datepicker-calendar {
    display: none;
    }
    
   
    
    
div.panel {
    position: fixed;
top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    width: 300px;
    border: 1px solid black;
      -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

    .glyphicon-th {
    position: fixed;
top: 55%;
  left: 60%;
 font-size: 1.5em;
  transform: translate(-50%, -50%);
   
}
.dateSpan
{
    position: fixed;
top: 50%;
  left: 40%;
 
visibility: hidden;

  
}



.resLabel
{
    position: fixed;
    top: 61%;
  left:35% ; 
       
}

